/* Please Make only Rhino and Zebra Blue */

/* .top{
    color: blue;
} */

/* #rhino, #zebra{
    color: blue;
} */

.top h2{
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse{
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
/* mozna dac siblings z +. opis w twitch
.areDucksDinosaurs > .likesToQuack.fight1Or100{
    color: red;
}
/* Please select Rhino with the highest level of specificity possible */
.top #rhino {
    color: pink;
}