*{
    box-sizing: border-box;
}
header, footer{
    height: 100px;
    border:3px solid darkblue;
    background-color: lightcyan;
clear: both;
}


section{
    height: 150px;
    width: 33.3333%;
    border:2px solid darkblue;
    background-color: lightcyan;
    float: left;
}

.large{
    height: 200px;
    width: 50%;
    border:2px solid darkblue;
    background-color: lightcyan;
    float: left;
}